@media screen {
   h2.popup {
      margin-top: 0;
   }

   button {
      width: 7.1em;
   }

   se-popup {
      /*--max-width: 400px;*/
   }

   se-popup.alternate {
      --backgroundColor: #ffffaa;
      --padding: 3rem;
      --borderWidth: 4px;
      --borderStyle: dashed;
   }

   button.alternate {
      float: right;
   }

   section.fails h2 {
      color: red;
   }

   section.partial h2 {
      color: #bbbb00;
   }

   main>div>div {
      flex-grow: 1;
   }

   .directionDemo {
      display: grid;
      grid-template-columns: 1.5rem repeat(3, 3rem) 1.5rem;
      grid-template-rows: 1.5rem repeat(3, 2rem) 1.5rem;
      justify-items: center;
      align-items: center;
      gap: 0.25rem;
   }

   .directionDemo button {
      grid-row: 2/5;
      grid-column: 2/5;
      width: 100%;
      height: 100%;
   }

   .directionDemo input.row1 { grid-row: 1; background-color: yellow; }
   .directionDemo input.row2 { grid-row: 2; }
   .directionDemo input.row3 { grid-row: 3; }
   .directionDemo input.row4 { grid-row: 4; }
   .directionDemo input.row5 { grid-row: 5; }

   .directionDemo input.col1 { grid-column: 1; }
   .directionDemo input.col2 { grid-column: 2; }
   .directionDemo input.col3 { grid-column: 3; }
   .directionDemo input.col4 { grid-column: 4; }
   .directionDemo input.col5 { grid-column: 5; }
}