@media screen {
   h2.popup {
      margin-top: 0;
   }

   demo-directionmap {
      display: inline-block;
   }

   section.explain {
      max-width: 20vw;
      align-items: center;
   }

   se-popup.fixedSize {
      --width: 400px;
      --height: 350px;
      --backgroundColor: #ffffbb;
      --background: linear-gradient(142.8deg, #ffffbb 0%, #ffffbb 50%, #ffeebb 50%, #ffeebb 50%);
      background-position: top;
   }

   section.rhs {
      text-align: right;
   }

   se-popup.alternate {
      --backgroundColor: #aaffff;
      --padding: 3rem;
      --borderWidth: 4px;
      --borderStyle: dashed;
   }

   button.alternate {
      float: right;
   }

   section.fails h2 {
      color: red;
   }

   section.partial h2 {
      color: #bbbb00;
   }

   main>div>div {
      flex-grow: 1;
   }

   main.testing {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0;

      &>div {
         margin: 0;
      }
   }

   main>div.spacer {
      flex-grow: 1;
      min-height: 1rem;
   }
}