@media screen {
   se-popup {
      --backgroundColor: #ffffaa;
      --padding: 0.25rem;
   }

   se-datepicker.alternate {
      --oddMonthBackground: #eaeaff;
      --evenMonthBackground: #ffffff;
      --toolbarBackground: #8888ff;
      --foreground: #000000;
      --hoverColor: #ffffff;
      --hoverBackgroundColor: #0000ff80;
      --selectedColor: #ffffff;
      --selectedBackgroundColor: #0000ff;
      --todayBorderColor: #80ccff;
   }

   button#trigger {
      position: fixed;
      bottom: 8px;
      left: 8px;
      background-color: grey;
      color: white;
      border: 2px solid black;
      border-radius: 3px;
   }

   .topright {
      position: absolute;
      top: 8px;
      right: 8px;
   }

   .bottomright {
      position: fixed;
      bottom: 8px;
      right: 8px;
   }
}