@media screen {
   se-popup {
      --backgroundColor: #ffffaa;
      --padding: 0.25rem;
   }

   se-datepicker.alternate {
      --oddMonthBackground: #eaeaff;
      --evenMonthBackground: #ffffff;
      --toolbarBackground: #8888ff;
      --foreground: #000000;
      --hoverColor: #ffffff;
      --hoverBackgroundColor: #0000ff80;
      --selectedColor: #ffffff;
      --selectedBackgroundColor: #0000ff;
      --todayBorderColor: #80ccff;
   }
}